[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
tox = "*"
pytest = "*"
pytest-flake8 = "*"
flake8 = "==3.7.9"
flake8-docstrings = "*"

[requires]
python_version = ">= 3.7"

[packages]
psycopg2 = "*"

[packages.63ed945]
path = "."
editable = true
